.right-panel {
  width: 340px;
  padding: 20px;
  background: #ffffff;
  font-family: "Segoe UI", sans-serif;
}

/* SEARCH */
.search-box input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 30px;
  border: none;
  background: #eff3f4;
  outline: none;
  font-size: 14px;
}

/* CARD */
.card {
  background: #f7f9f9;
  margin-top: 20px;
  border-radius: 16px;
  padding: 15px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
   color: #1da1f2;
}

/* TREND */
.trend {
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

.trend
{
  color: rgb(133, 132, 132);
}

.trend:hover {
  background: #e6ecf0;
}

.category {
  font-size: 12px;
  color: rgb(77, 74, 74);
}

.trend strong {
  display: block;
  margin: 4px 0;
  font-size: 15px;
}

.count {
  font-size: 12px;
  color: rgb(216, 42, 42);
}

/* FOLLOW */
.follow {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #1da1f2, #0d8ddb);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

.user {
  flex: 1;
}

.user span {
  display: block;
  font-size: 13px;
  color: gray;
}

/* BUTTON */
.follow button {
  background: black;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.follow button:hover {
  background: #333;
}

/* SHOW MORE */
.show-more {
  display: block;
  margin-top: 10px;
  color: #1da1f2;
  font-size: 14px;
  cursor: pointer;
}
